{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="createT">
        <h2>Create Task</h2>
        <form id="create" action="submit/" method="post">
          {% csrf_token %}
          <label for="">Task Name</label>
          <br />
          <input
            type="text"
            name="task_name"
            id="task_name"
            placeholder="Enter Task Name"
            required
          />
          <br /><br />

          <label>Task Description</label>
          <br />
          <textarea
            name="task_description"
            placeholder="Enter Description"
            id="task_description"
            cols="30"
            rows="10"
            required
          ></textarea>
          <br /><br />

          <label for="">Task Status</label>
          <br />
          &nbsp;
          <select name="task_status" id="task_status" required>
            <option value="">Select Task Status</option>
            <option value="Initiated">Initiated</option>
            <option value="Onhold">Onhold</option>
            <option value="Pending">Pending</option>
            <option value="Completed">Completed</option>
          </select>

          <br /><br />

          <input type="submit" value="Submit" name="submit" id="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
