{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="logIn">
        <h2>Login</h2>
        <form id="login" method="post">
          <label for="">Email or Phone</label>
          <br />
          <input
            type="text"
            name="fname"
            id="name"
            placeholder="Enter Email or Phone Number"
          />
          <br /><br />
          <label>Password</label>
          <br />
          <input
            type="password"
            name="pwd"
            id="name"
            placeholder="Enter password"
          />
          <br /><br />

          <input type="submit" value="Submit" name="submit" id="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
