{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/teach.css' %}" />
  </head>

  <body>
    <nav>
      <div class="logo">
        <h4>Welcome Teacher 1!</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a href="create_task/">Create Task</a>
        </li>
      </ul>
    </nav>
    <section class="main">
      <section class="tasks">
        <section class="task-list">
          <table class="table">
            <thead>
              <tr>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task Status</th>
                <th>Action</th>
                <th>Student List</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                <td>{{task.task_id}}</td>
                <td>{{task.task_name}}</td>
                <td>{{task.task_description}}</td>
                <td>{{task.task_status}}</td>
                <td>
                  <div class="images">
                    <a href="update_task/{{task.task_id}}/"><img src="{% static 'images/upd1.png' %}" alt="" /></a>
                    <a href="delete_task/{{task.task_id}}/"><img src="{% static 'images/del1.png' %}" alt="" /></a>
                  </div>
                </td>
                <td>
                  <a href="view_task/{{task.task_id}}/">View</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </body>
</html>
