<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="teach.css" />
  </head>

  <body>
    <nav>
      <div class="logo">
        <h4>Welcome Teacher 1!</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a href="create.html">Create Task</a>
        </li>
      </ul>
    </nav>
    <section class="main">
      <section class="tasks">
        <section class="task-list">
          <table class="table">
            <thead>
              <tr>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task Status</th>
                <th>Action</th>
                <th>Student List</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Task 1</td>
                <td>
                  First task to be done before monday,lets see if it is poosible
                  or not
                </td>
                <td>Onhold</td>
                <td>
                  <div class="images">
                    <a href="update.html"><img src="upd1.png" alt="" /></a>
                    <a href="#"><img src="del1.png" alt="" /></a>
                  </div>
                </td>
                <td>
                  <a href="taskAss.html">View</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Task 2</td>
                <td>
                  First task to be done before monday,lets see if it is poosible
                  or not
                </td>
                <td>Completed</td>
                <td>
                  <div class="images">
                    <a href="update.html"><img src="upd1.png" alt="" /></a>
                    <a href="#"><img src="del1.png" alt="" /></a>
                  </div>
                </td>
                <td>
                  <a href="taskAss.html">View</a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Task 3</td>
                <td>
                  First task to be done before monday,lets see if it is poosible
                  or not
                </td>
                <td>Pending</td>
                <td>
                  <div class="images">
                    <a href="update.html"><img src="upd1.png" alt="" /></a>
                    <a href="#"><img src="del1.png" alt="" /></a>
                  </div>
                </td>
                <td>
                  <a href="taskAss.html">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </body>
</html>
